{% extends 'm4s0JobeetBundle::layout.html.twig' %}

{% block content %}
    <h1>Job edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('m4s0_job') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
