{% extends 'm4s0JobeetBundle::layout.html.twig' %}

{% block content %}
    <h1>Job creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('m4s0_job') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
